<nav class="navegacao">
    <header class=".header" title="Saber Compartilhado"> 
        <div climg src="ass="logo">
        <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg" >
            <g filter="url(#filter0_d_152_492)">
            <path d="M4.02496 33.4303C4.02494 24.1668 4.0068 15.0417 4.0606 5.91704C4.06474 5.21548 4.45558 4.43379 4.8718 3.83098C6.96133 0.804761 9.77388 -0.12401 13.5163 0.0129369C21.9714 0.322355 30.4457 0.101529 38.9121 0.129759C39.4674 0.131607 40.0217 0.415454 40.5765 0.568132C40.3074 1.07022 40.1352 1.66753 39.7522 2.05789C38.1079 3.73367 36.6595 5.95115 34.6443 6.81369C32.6871 7.65141 30.1253 7.10627 27.8288 7.11545C22.843 7.13537 17.8568 7.15426 12.8716 7.09925C11.5663 7.08484 11.1543 7.55615 11.1622 8.8313C11.2053 15.7453 11.2105 22.66 11.1436 29.5737C11.1364 30.3144 10.7427 31.1964 10.2429 31.7595C8.87159 33.3045 7.36951 34.737 5.86832 36.1603C5.54047 36.4711 5.00088 36.5586 4.5588 36.749C4.38062 36.3004 4.11536 35.8648 4.04603 35.3999C3.95681 34.8018 4.02472 34.1802 4.02496 33.4303Z" fill="#FAFBFC"/>
            <path d="M26.539 34.2839C29.7862 34.2839 32.8922 34.2844 35.9982 34.2837C37.961 34.2833 38.0984 34.1514 38.0989 32.2229C38.1005 25.4932 38.0712 18.7633 38.1392 12.0343C38.1467 11.2962 38.5436 10.4198 39.0415 9.8564C40.3787 8.34324 41.8415 6.93598 43.3178 5.55437C43.6719 5.22298 44.2726 5.15506 44.7599 4.96596C44.901 5.4312 45.1641 5.89614 45.1652 6.36172C45.189 16.1502 45.1951 25.9389 45.1531 35.7273C45.1506 36.3027 44.811 36.945 44.4627 37.4395C42.2898 40.5244 39.4297 41.5354 35.56 41.3787C27.244 41.0421 18.9048 41.2868 10.5752 41.2517C9.98648 41.2493 9.39918 40.9051 8.81122 40.7199C9.11084 40.1836 9.31398 39.5538 9.72722 39.1277C11.2973 37.5089 12.6843 35.3526 14.6185 34.5481C16.5527 33.7436 19.0594 34.3065 21.3153 34.2868C23.0094 34.272 24.7037 34.2839 26.539 34.2839Z" fill="#FDFEFE"/>
            <path d="M22.304 13.6336C25.1707 13.6338 27.8967 13.6614 30.6217 13.6196C31.6001 13.6046 31.9417 13.9645 31.9325 14.9395C31.8955 18.8396 31.8951 22.7404 31.9311 26.6404C31.9415 27.7582 31.4637 28.1175 30.4013 28.1084C26.5481 28.0754 22.6943 28.0698 18.8413 28.1129C17.8118 28.1244 17.4293 27.7911 17.4411 26.7378C17.4852 22.7909 17.484 18.843 17.4424 14.896C17.4317 13.8837 17.8339 13.5769 18.78 13.6217C19.9053 13.6749 21.0351 13.6339 22.304 13.6336Z" fill="#1BB267"/>
            </g>
            <defs>
            <filter id="filter0_d_152_492" x="0" y="0" width="49.1839" height="49.3943" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
            <feOffset dy="4"/>
            <feGaussianBlur stdDeviation="2"/>
            <feComposite in2="hardAlpha" operator="out"/>
            <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_152_492"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_152_492" result="shape"/>
            </filter>
            </defs>
            </svg>            
    </div>
    <h1>Saber Compartilhado</h1>
    </header>
   
    <div class="links">
        <ul class="nav-itens">
            <li><a href="/">Início</a></li>
            <li><a href="/perguntas">Perguntas</a></li>
            <li><a href="/artigos">Artigos</a></li>
            <li><a href="/publicar">Publicar</a></li>
        </ul>
    </div>
    <div class="input-container">
        <input id="input" type="search" class="input" placeholder="Pesquise no Saber Compartilhado">
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-search icon" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>

    </div>
</nav>