<%- include ("partials/header") %>
    <%- include ("partials/nav") %>

        <main>
            <div class="duvida_exp"></div>
            <div class="postagens"></div>
            <div class="mais_lidos">

            </div>
        </main>
    


        <%- include("partials/footer.ejs")%>
