<%- include("partials/header") %>
    <%- include("partials/nav") %>
        <main class="main__form">
            <legend class="main__form-title">Publicar</legend>
            <form id="form-publicar" class="main__form-form" action="" method="post" >
                <label for="titulo"> Título *
                    <input id="form-titulo" name="titulo" type="text" required>
                </label>
                    <fieldset>
                        <legend>O que você deseja publicar?</legend>
                        <label class="main__form-radio" for="form-artigo"> 
                            <input id="form-artigo" value="artigo" name="tipo" type="radio" checked>
                            <span>Artigo</span>
                        </label>
                        <label class="main__form-radio" for="form-pergunta"> 
                            <input id="form-pergunta" value="pergunta" name="tipo" type="radio">
                            <span>Pergunta</span>
    
                        </label>
                    </fieldset>
                </label>
                <label for="autor"> Autor *
                    <input id="form-autor" type="text" required>
                </label>
                <label for="imagem"> URL da imagem
                    <input id="form-imagem" name="imagem" type="text">
                </label>
                <label for="texto"> Conteúdo *
                    <textarea name="texto" id="form-texto" required></textarea>

                </label>
                <button type="submit">Publicar</button>

            </form>
        </main>



        <%- include("partials/footer") %>